body, html {
    height: 100%;
    margin: 0;
    background: #2c3b3b;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 800px;
    border-radius: 15px !important;
    background-color: rgba(30, 30, 30, 0.8) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(30, 30, 30, 0.5) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(30, 30, 30, 0.5) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn,
.send_btn,
.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: #1a2222 !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.active {
    background-color: rgba(30, 30, 30, 0.9);
}

.user_img,
.user_img_msg {
    height: 70px;
    width: 70px;
    border: 1.5px solid #00ffcc;
}

.img_cont,
.img_cont_msg {
    position: relative;
    height: 70px;
    width: 70px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137; /* Verde */
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important; /* Rojo */
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.msg_cotainer,
.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px;
    background-color: #3498db; /* Azul */
    padding: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.msg_time,
.msg_time_send {
    position: absolute;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(30, 30, 30, 0.85);
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}
